.RequestDetails{
    background-color: #BACDDB;
    padding: 4%;
    margin: 10%;
    margin-bottom: 35vh;
    
}

.RequestDetails button {
    background-color: #CE5959;
}

.RequestDetails h3, p {
    color: black;
}

.detailContainer{
    display: table;
    width: 100%;    
}
.detailContainer p{
    color: darkslategray;   
}


.PostDetails{
    background-color: #CE5959;
    padding: 4%;
    margin: 10%;
    margin-bottom: 35vh;
}

.PostDetails button {
    background-color: darkslategray;
}

.PostDetails h3, p {
    color: aliceblue;
}