
.SignUp {
    background-color: #89375F;
    padding: 4%;
    max-width: 700px;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 20vh;
    text-align: center;

}


/* form{
    height: 520px;
    width: 400px;
} */

.Login {
    background-color: #89375F;
    padding: 4%;
    max-width: 700px;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 30vh;
    /* display: table-cell; */
    text-align: center;
}
.formContainer{
    display: table;
    width: 100%;
}
.formContainer button {
    background-color: #BACDDB;
    color: black;
    max-width: 40%;
}
.formContainer h1{
    color: white;
}

.editbuttons{
    width: 100%;
}