/* GENERAL */
.Requests {
    /* background-color: #f5c1c1; */
    padding: 2%;
}
.Requests button {
    background-color: #CE5959;
    max-width: 40%;
}
.Requests h1{
    text-align: center;
    color: #89375F;

}
.Requests p{
    color: darkslategray;
}
/*  */

/* ADDREQUEST */
.AddRequest {
    background-color: #89375F;
    padding: 4%;
    margin: 15%;
    margin-bottom: 5%;
    margin-top: 5%
    /* color: white; */
}
.AddRequest h3, label {
    color: white;
}
.AddRequest textarea, input{
    background-color: #fffaf2;
}
.AddRequest button{
    background-color: #BACDDB;
    color: black;
    max-width: 40%;
}
/*  */

/* REQUEST */
.request {
    background-color: #BACDDB;
    padding: 3%;
    margin-bottom: 10%;
}
.requestList{
    margin: 4%;
}
/*  */
/* request details */
