/* GENERAL */
.Requests {
    /* background-color: #f5c1c1; */
    padding: 2%;
}
.Requests button {
    background-color: #00796b;
}
/*  */

/* ADDREQUEST */
.AddRequest {
    background-color: #fff2cd;
    padding: 4%;
}
.AddRequest textarea, input{
    background-color: #fffaf2;
}
/*  */

/* REQUEST */
.request {
    background-color: #fcd5aa;
    padding: 3%;
    margin-bottom: 3%;
}
/*  */