/* Teal Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #00897b;
  --primary-hover: #00796b;
  --primary-focus: rgba(0, 137, 123, 0.125);
  --primary-inverse: #FFF;
}

.App {
  text-align: left;
  background-color: #F3E8FF;
  /* padding: 3% */
}

.navbar{
  color:#89375F;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color:#ce595965;
  text-align: center;


}
.navbar button{
  color: #BACDDB;
  background-color: #89375f7b;
}


/* //////////////HOME PAGE////////////////// */

.HomePage{
  
  background-color: #F3E8FF;
  /* background-color: #BACDDB; */

  padding-bottom: 40%;
  padding-top: 20vh;
  margin:0%;
}
.HomePage h1{
  color: #89375F;
  margin-left: 5%;
  margin-bottom: 1%;
}
.HomePage h3{
  color: #89375F;
  margin-left: 5%;
  margin-top: 1%;
  padding-bottom: 10%;
}

.HomePage button{
  /* background-color: #89375F; */
  background-color: #89375F;
  color: #BACDDB;
  max-width: 40%;
  margin-left: 30vw;
  


}

/* //////////////SIGN UP////////////////// */


/* //////////////LOG IN////////////////// */


/* //////////////LIST OF REQUESTS////////////////// */

/* //////////////REQUEST DETAILS////////////////// */

/* //////////////EDIT REQUESTS////////////////// */

/* //////////////POSTS////////////////// */
.Posts {
  /* background-color: #454545; */
  background-color: #F3E8FF;
  margin: 0%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.post button {
  /* background-color: #446c88; */

  background-color:#CE5959;
  max-width: 40%;
}
.AddPost{
  /* background-color: #FFA559; */
  background-color: #89375F;
  padding: 4%;
  padding-top: 0%;
  padding-bottom: 0%;
  margin-left: 20%;
  margin-right: 20%;
  color:white;
 
}
.AddPost textarea {
  background-color: #fff;
  height: 10%;
}
.AddPost label{
  color: white;
}

.AddPost button{
background-color: #BACDDB;
 max-width: 40%;
 color:darkslategray
}
.post {
  margin-bottom: 3%;
  background-color: #BACDDB;
  padding: 4%;
  margin-left: 20%;
  margin-right: 20%;
}

.Posts h3{
  padding-top: 6%;
  text-align:center;
  color: white;
}
.Posts h2{
  padding-top: 6%;
  text-align:center;
  color: darkslategray
}


/* //////////////POST DETAILS////////////////// */







/* //////////////GUIDELINES////////////////// */

.guidelines {
  padding-top: 7%;
  padding-bottom: 15%;
}
.support{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  background-color: #bacddbae;
}
.guidelines h1{
  color: #89375F;
  margin-left: 5%;
  margin-bottom: 1%;
}
.guidelines h3{
  color: #89375F;
  margin-left: 5%;
  margin-bottom: 2%;
}
.guidelines h4{
  color: #89375F;
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 3%;
}


.blockers{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
  background-color: #bacddbae;

}

/* //////////////FEELINGS AND NEEDS////////////////// */


.feelings {
  background-color: #F3E8FF;
 
  
  text-align: center;
  
}
.feelings h2{
  color:#89375F
}
.feelings h3{
  color:#89375F
}
.feelings p{
  color: darkslategray;
}


.positivefeelings{
    /* margin-bottom: 3%; */
    background-color:#ce595965;
    /* padding: 4%; */
    /* margin-left: 20%;
    margin-right: 20%; */
    text-align: center;
}

.negativefeelings{
  /* margin-bottom: 3%; */
  background-color: #bacddbbc;
    /* padding: 4%; */
    /* margin-left: 20%;
    margin-right: 20%; */
    text-align: center;
}

/* class="col-sm-6 col-md-6 col-lg-4 col-xl-4" */

/* //////////////////FOOTER ////////////////////////*/
.footer {
  background-color:#CE5959;
  text-align: center;
  padding-bottom: 3rem;
  padding-top: 3rem;
  padding-left: 9rem;
  padding-right: 9rem;
 

}
.footer a{
  color: darkslategray
}



