/* Teal Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #00897b;
  --primary-hover: #00796b;
  --primary-focus: rgba(0, 137, 123, 0.125);
  --primary-inverse: #FFF;
}

.App {
  text-align: left;
  padding: 3%
}
nav {
  padding: 2%;
}


/* //////////////HOME PAGE////////////////// */

/* //////////////SIGN UP////////////////// */


/* //////////////LOG IN////////////////// */

/* //////////////LIST OF REQUESTS////////////////// */

/* //////////////REQUEST DETAILS////////////////// */

/* //////////////EDIT REQUESTS////////////////// */

/* //////////////POSTS////////////////// */
/* .row-example {
  margin-top: calc(var(--typography-spacing-vertical) * 2);
  margin-bottom: calc(var(--typography-spacing-vertical) * 2);
}
.col-example {
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left:15px ;
  padding-right:15px ;
  background:   #00897b2c;
  color: rgb(116, 116, 112);
  text-align: left;
} */

.AddPost{
  background-color: #73d1c86c;
  padding: 4%;
}
.AddPost textarea {
  background-color: #fff;
}
.post {
  padding: 3%;
  margin-bottom: 3%;
  background-color: #00897b59;
}

/* //////////////POST DETAILS////////////////// */

/* //////////////GUIDELINES////////////////// */

/* //////////////FEELINGS AND NEEDS////////////////// */



